.nav-container{
 display: flex;
 justify-content: space-around;
 background-color: rgb(23, 78, 188);
 color: white;

}

.nav-container div{
    position: relative;
}

.icon{
    position: absolute;
    bottom: 10px;
    right: 10px;
}